sveapossiblevalues {
    display             : block;
    min-height          : 20rem;
    max-height          : 20rem;
    overflow            : scroll;
}

sveapossiblevalue {
    display             : block;
    position            : relative;
    background-color    : var(--background-color);
    color               : var(--text-color);
    text-align          : left;
    overflow            : hidden;
    text-overflow       : ellipsis;
    padding             : .5rem;
    border-radius       : .25rem;
    width               : 15rem;
}

sveapossiblevalue:nth-of-type(2n) {
    background-color    : var(--alternate-background-color);
}