sveabutton {
    font-family         : inherit;
    font-size           : 1rem;
    padding             : 0.4em;
    margin              : 0 0 0.5em 0;
    box-sizing          : border-box;
    border              : .0625rem solid var(--input-border-color);
    border-radius       : .125rem;
}

sveabutton {
    color               : var(--text-color);
    background-color    : var(--background-color);
    background          : no-repeat center;
    outline             : none;
}

sveabutton:disabled {
    color               : #999;
}

sveabutton:not(:disabled):active {
    background-color    : #ddd;
}

sveabutton:focus {
    border-color        : var(--light-text-color);
}

.iconOnly {
    display             : inline-block;
    width               : 2rem;
    height              : 2rem;
    background          : rgba(var(--main-color)) no-repeat center;
    border-radius       : .5rem;
}