:root {
  --main-color: #30A4DC;
  --main-color-light: #b9e8ff;
  --secondary-color: #FDCF0C;
  --secondary-color-light: #f5ee91;
  --background-color: #fff;
  --alternate-background-color: #eee;
  --text-color: #333;
  --light-text-color: #777;
  --input-border-color: #ccc;
  --selection-color: #000;
  --loader-color1: #DB8C28;
  --loader-color2: #FBF69F;
  --error-color: #f00;
  --status-color-best: #c5ffb9;
  --status-color-better: #b9e8ff;
  --status-color-good: #ccc;
  --status-color-worse: #f5ee91;
  --status-color-worst: #f00;
}
