sveagrid {
    border-left         : .0625rem solid var(--alternate-background-color);
    border-radius       : 0 1rem;
    display             : inline-block;
    padding             : .5rem;
    margin              : 1rem;
}

@media (min-width: 640px) {
    sveagrid {
        width           : 42%;
    }
}

@media (min-width: 1280px) {
    sveagrid {
        width           : 29%;
    }
}

@media (min-width: 1920px) {
    sveagrid {
        width           : 22%;
    }
}

@media (min-width: 2560px) {
    sveagrid {
        width           : 18%;
    }
}