timerconatainer {
    position            : relative;
}

timerconatainer input[type="button"].timer.running {
    border-radius       : 0 0 0 1rem;
    margin              : .0625rem 0 .5rem;
    border-top          : solid 0.5rem var(--main-color);

}

timerprogress {
    height              : .5rem;
    position            : absolute;
    left                : 0;
    top                 : .0625rem;
    background          : var(--main-color-light);
}