sveatimerconatainer {
    position            : relative;
}

sveatimerconatainer input[type="button"].timer.running {
    border-radius       : 0 0 0 1rem;
    margin              : .0625rem 0 .5rem;
    border-top          : solid 0.5rem rgba(var(--main-color));

}

sveatimerprogress {
    height              : .5rem;
    position            : absolute;
    left                : 0;
    top                 : .0625rem;
    background          : rgba(var(--main-color-light));
}