html {
    font-family             : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size               : 16px;
    padding                 : 0;
    margin                  : 0;
}

body {
    padding                 : 0;
    margin                  : 0;
    display                 : flex;
    flex-direction          : column;
}

header {
    background-color        : rgb(var(--background-color));
    box-shadow              : 0 0 .25rem rgba(var(--text-color), .5);
    height                  : 3rem;
    position                : fixed;
    width                   : 100%;
    z-index                 : 5;
}

main {
    flex                    : 1 0 0;
    display                 : flex;
    width                   : 80rem;
    padding                 : 3.5rem .5rem .5rem;
    position                : relative;
    margin                  : 0 auto;
}

nav {
    width                   : 15rem;
    position                : fixed;
    height                  : calc(100vh - 3.5rem);
    overflow                : hidden auto;
}

a {
    color                   : rgb(var(--text-color));
    text-decoration         : none;
}


a#home {
    background              : url('/logo.svg') no-repeat;
    display                 : inline-block;
    font-size               : 1.25rem;
    height                  : 2rem;
    letter-spacing          : .25rem;
    margin                  : .5rem .75rem .25rem;
    padding-left            : 2.25rem;
    font-variant            : small-caps;
    width                   : 1.75rem;
    text-decoration         : none;
}

nav > a {
    display                 : block;
    font-size               : 1.25rem;
    margin                  : .5rem 0;
}

nav > a.active {
    color                   : rgb(var(--main-color));
    font-weight             : bold;
    text-decoration         : underline;
}

content {
    flex                    : 1;
    margin-left             : 16rem;
}

* {
    scrollbar-width         : thin;
}