.sveatextarea {
    font-family                 : 'Roboto Mono', monospace;
    height                      : 10rem;
    overflow                    : scroll;
    white-space                 : nowrap;
    width                       : 90%;
}