numbercontainer {
    text-align          : right;
}

digit,
decimal {
    display             :inline-block;
    width               : .75rem;
    height              : 1.25rem;
    line-height         : 1.25rem;
    text-align          : center;
    vertical-align      : middle;
    border-bottom       : .0625rem solid var(--text-color);
    margin-left         : .125rem;
    border-radius       : 0 0 .125rem;
}

digit.separator {
    margin-left         : .375rem;
}

decimalseparator {
    display             :inline-block;
    vertical-align      : middle;
    width               : .5rem;
    height              : 1.5rem;
    line-height         : 1.5rem;
}